<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 10]><html class="ie10"><![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Helterbook</title>

    <!--<link rel="stylesheet" href="/css/application.css" type="text/css"/>-->
    <link rel="stylesheet" href="css/vendor.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/custom.min.css" type="text/css"/>

    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><img src="img/logo.png" alt="Helterbook" title="Helterbook"/></a>
            <p class="navbar-text pull-left">It's Your Health</p>
        </div>
    </div>
</div>

    <div class="container">
        <div layout:fragment="page-content"></div>
    </div>

    <div class="footer">
        <div class="valigar_menu" id="wpmenu7"></div>

        <div id="wpmenu70" class="valigar_menu">
            <ul>
                <li><a href="/">About project</a></li>
                <li><a href="/">FAQ</a></li>
                <li><a href="/">Contacs us</a></li>
                <li><a href="/">Privacy policy</a></li>
                <li><a href="/">Terms and Conditions</a></li>
                <li><a href="/">License agreement</a></li>
                <li><a href="/">Payment methods</a></li>
            </ul>
        </div>

        <div class="copyright">Helterbook &copy; 2016 </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>